@import url('https://fonts.googleapis.com/css?family=Neucha&display=swap');

html {
    background: url(images/spam1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.step {
    width: 1200px;
}

body {
    font-size: 300%;
    text-align: center;
    font-family: 'Neucha';
}

p {
    margin-bottom: 0.3em;
    margin-top: 0.3em;
    text-align: left;
}

div#finalslide {
    font-size: 100%;
    text-align: center;
    font-family: 'Neucha';
}

pre {
    text-align: left;
}

h1, h2, h3, h4 {
    font-weight: normal;
    margin-bottom: 0.3em;
    margin-top: 0.3em;
}

tt {
    font-size: 125;
}

ul {
    list-style-position: inside;
}

ol {
    list-style-position: inside;
}

ul li {
    margin-bottom: 0.2em;
    margin-top: 0.2em;
    padding-left: 0.2em;
    line-height: 1.2em;
    text-align: left;
}

ol li {
    margin-bottom: 0.0em;
    margin-top: 0.0em;
    padding-left: 0.2em;
    line-height: 1.0em;
    text-align: left;
}

a {
    text-decoration: none;
    color: black;
}

.hidden {
    display: none;
}


.footer {
    position: absolute;
    top: 95%;
    font-size: 50%;
}

.codeblock {
    font-family: 'monospace';
    font-size: 50%;
    text-align: left;
    background: #DDD;
    padding: 10px;
    border: 2px solid black;
}
